<mat-sidenav-container class="example-container">
  <mat-sidenav id="si" mode="side" opened
    >Sidenav content
  </mat-sidenav>
  <mat-sidenav-content id="ma">
    <div
      class="container text-center chartContainer"
      style="margin: 0 auto; width: 98%"
    >
      <app-selectservice></app-selectservice>

      <div class="row" style="height: 100%">
        <div class="col-xxl-6">
          <app-charts chartType="bar"></app-charts>
        </div>
        <!-- <mat-divider [vertical]="true"></mat-divider> -->
        <div class="col-xxl-6">
          <app-charts chartType="pie"></app-charts>
        </div>
      </div>
    </div>

    <section class="container" style="margin: 1% auto; padding: 0; width: 98%">
      <div class="row">
        <app-cards class="col-xxl-6" postType="top"></app-cards>
        <app-cards class="col-xxl-6" postType="flop"></app-cards>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
